{% extends "faktura/base.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

{% block content %}
    {% include 'faktura/includes/invoices_list.html' %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function() {
    $('#invoices').DataTable({
        "paging": false,
        "info": false,
        order: [[ 1, 'desc' ], [ 0, 'desc' ]]
    });
});
</script>
{% endblock %}
