{% if is_paginated %}
    <ul class="pagination justify-content-center">
        <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Previous</a>
        </li>

        {% for i in paginator.page_range %}
            <li class="page-item{% if page_obj.number == i %} active disabled{% endif %}">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endfor %}

        <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Next</a>
        </li>
    </ul>
{% endif %}